<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jspServletLoginTest</display-name>
  <servlet>
    <description></description>
    <display-name>emplogin</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>eHotel.servlet.EmployeeloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/emplogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empmenu</display-name>
    <servlet-name>empMenuServlet</servlet-name>
    <servlet-class>eHotel.servlet.EmployeeMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empMenuServlet</servlet-name>
    <url-pattern>/empMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empmenu2</display-name>
    <servlet-name>empMenu2Servlet</servlet-name>
    <servlet-class>eHotel.servlet.EmployeeMenu2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empMenu2Servlet</servlet-name>
    <url-pattern>/empMenu2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dbUpdate</display-name>
    <servlet-name>dbUpdateServlet</servlet-name>
    <servlet-class>eHotel.servlet.DatabaseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbUpdateServlet</servlet-name>
    <url-pattern>/dbUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>dbUpdate2</display-name>
    <servlet-name>dbUpdate2Servlet</servlet-name>
    <servlet-class>eHotel.servlet.DatabaseUpdate2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbUpdate2Servlet</servlet-name>
    <url-pattern>/dbUpdate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>anythinghere</display-name>
    <servlet-name>custregServlet</servlet-name>
    <servlet-class>eHotel.servlet.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custregServlet</servlet-name>
    <url-pattern>/cusRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custlogin</display-name>
    <servlet-name>custloginServlet</servlet-name>
    <servlet-class>eHotel.servlet.CustomerloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custloginServlet</servlet-name>
    <url-pattern>/custlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>roombook</display-name>
    <servlet-name>roombookServlet</servlet-name>
    <servlet-class>eHotel.servlet.RoombookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roombookServlet</servlet-name>
    <url-pattern>/roombook</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>roomSearch</display-name>
    <servlet-name>RoomSearchServlet</servlet-name>
    <servlet-class>eHotel.servlet.RoomSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomSearchServlet</servlet-name>
    <url-pattern>/roomSearch</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>